.workspace-message-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 12px 0px 20px;
    background-color: var(--brand-core-dark-gray);
}

.workspace-message-area-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    border-bottom: 1px solid var(--brand-core-border);
}

.workspace-message-area-header-channel-name {
    color: var(--brand-core-lighter-pink);
    font-size: 18px;
    font-weight: 900;
}

.workspace-message-area-header-channel {
    width: 100%;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.workspace-message-area-header-channel-members {
    color: var(--brand-core-lighter-pink);
}

.workspace-message-area-header-actions-button-text {
    color: var(--brand-core-lighter-pink);
}

.workspace-message-area-header-actions {
    width: 100%;
    height: 38px;
    font-size: 13px;
    padding: 8px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.workspace-message-area-message-list {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    padding: 0px 12px 0px 20px;
    color: var(--brand-core-white);
}