.user-info-container {
    background-color: var(--brand-core-dark-gray);
    position: absolute;
    right: 0px;
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: 1px solid var(--brand-core-border);
}

.profile-header {
    padding: 10px 20px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.profile-section,
.contact-section,
.about-section {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid var(--brand-core-border);
    gap: 20px;
}

.profile-section {
    align-items: center;
}

.profile-section .profile-img-container {
    width: 50%;
    border-radius: 50%;
    aspect-ratio: 1;
    overflow: hidden;
}

.profile-section .profile-img-container .profile-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.profile-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--brand-core-lighter-pink);
}

.user-name {
    font-size: 22px;
    font-weight: 600;
    color: var(--brand-core-lighter-pink);
}

.add-text,
.add-phone-link,
.add-date-link,
.contact-email {
    color: var(--brand-core-blue);
}

.edit-profile-link,
.edit-contact-link,
.edit-about-link {
    color: var(--brand-core-blue);
    font-weight: 600;
}

.profile-name-section,
.contact-header,
.about-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add-pronunciation-link,
.local-time-container,
.add-phone-link,
.add-date-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.action-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/* Sección de Contacto */
.contact-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
}

.contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contact-title,
.about-title {
    color: var(--brand-core-lighter-pink)
}

.close-btn {
    background-color: transparent;
    border: none;
    color: var(--brand-core-lighter-pink);
    font-weight: 600;
    cursor: pointer;
}

.status-btn,
.view-as-btn,
.more-options-btn {
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    background-color: transparent;
    color: var(--brand-core-lighter-pink);
    border: 1px solid var(--brand-core-border);
    cursor: pointer;
}

.status-btn,
.view-as-btn {
    flex-grow: 4;
}

.contact-label {
    color: var(--brand-core-lighter-pink);
    font-weight: 600;
    font-size: 13px;
}

.contact-icon {
    font-size: 24px;
    stroke: var(--brand-core-lighter-pink);
}


.local-time-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.clock-icon {
    fill: var(--brand-core-lighter-pink);
    font-size: 22px;
}

.time-text {
    color: var(--brand-core-lighter-pink);
}