@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    color: var(--brand-core-black);
    text-decoration: none;
}

body {
    height: 100dvh;
    max-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#root {
    width: 100dvw;
    height: 100dvh;
    max-width: 100dvw;
    max-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    --brand-core-aubergine: #431349;
    --brand-core-dark-aubergine: #221226;
    --brand-core-light-aubergine: #7D3986;
    --brand-core-lighter-aubergine: #E3CEEBCC;
    --brand-core-lighter-pink: #D1D2D3;
    --brand-core-white: #fff;
    --brand-core-border: #5e5d6073;
    --brand-core-black: #1D1C1D;
    --brand-core-beige: #F9F6F1;
    --brand-core-gray: #616061;
    --brand-core-light-gray: #5e5d6073;
    --brand-core-lighter-gray: #B9BAB8;
    --brand-core-dark-gray: #1A1D21;
    --brand-core-pink: #3A1040;
    --brand-core-light-pink: #1F1023;
    --brand-core-lighter-input: #222529;
}